:root{
    --color1:#8dc251;
    --color2:gray;
    --bg-color:white;

}
body{
    margin: 0px;
    padding:0px;
    background-image: url("https://cdn.pixabay.com/photo/2018/09/20/22/23/auto-repair-3691963_960_720.jpg");
    background-size:cover;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(233, 227, 227,0.9);
}
header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color:white;
}
header .right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .manu >ul{
    display: flex;
    align-items:center;
    justify-content: center;
    
}
header .manu ul li{
    margin:1vw;
    list-style-type: none;
}
h1,h2,p{
    width: fit-content;
    margin: auto;
    text-align: center;
}
header .cart{
    padding: 1vw;
}
header .manu .dropdown{
    position:absolute;
    background-color: white;
    display: none;
}
.btn{
    font-size: 22px;
    background: var(--color1);
    width: fit-content;
    font-weight: bold;
    padding: 10px;
    color: var(--bg-color);
    border-radius: 5px;
    text-align: center;
    margin: auto;
}
header .hamburger i{
    font-size:2.5em;
}
header .hamburger{
    display: none;

}
header .cart1{
    display: none;
}
.intro> *{
    width: fit-content;
    margin: 3vw auto ;
}
.intro h1{
    font-size: 5vw;
}
.award-winning{
    background-color:rgb(207, 201, 201);
    padding: 5vw;
}

.award-winning h1{
    margin: top;

}
.awards{
    display: flex;
    width: 90vw;
    height: 50vh;
    margin:  4vw auto;
    align-items:center;
    justify-content: space-around;
}
.awards img{
    width: 70%;
    height: 70%;
}
.testonomial{
    background-color: white;
    margin:0;
    padding:10vw;
    /* display: flex; */
    

}
.testonomial img{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    margin-right:  1vw;
}
.testonomial p{
    text-align: left;
}
.testonomial > div{
    display:flex;
    justify-content: space-evenly;
    margin-top: 3vw;
    
}
.testonomial >div >div{
    width: 30%;
}

.testonomial #test1 .info,.testonomial #test2 .info{
display: flex;
justify-content: flex-start;
align-items:center;
margin-bottom:2vw;
}
.testonomial +h1{
    background-color: #8dc251;
    color:white;
    width: 100vw;
    box-sizing: border-box;
    text-align:center;
    padding: 3vw;
    font-size:3vw;
    box-shadow: 1vw 1vw 5vw grey;
}
.step-info{
    background-color:white;
    padding: 3vw;
}
.step {
    display:flex;
    justify-content: space-evenly;
    margin-bottom:10vw;
}
.step div{
    text-align:center;
    width:15vw;
}
.step div p:first-child{
    background-color: #8dc251;
    color:white;
    border-radius: 50%;
    padding: 7px 11px;
}
.step div i{
    color: #8dc251;
    font-size:4rem;
    margin:  20px 0;
}
.services{
    margin-top: 5vw;
}
.services h1{
    text-decoration: underline;

}
.services .cols p{
    text-align: left;
    margin: 15px;

}
.services .cols i{
    margin-left: -20px;
    font-size: 1.3rem;
}
.services .cols{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    text-align: left;
    align-items: center;

}
.services .col1,.services .col2{
    width:45%;
    margin-top: 2vw;
}
.step-info p{
    margin-top:5vw;
    margin-bottom: 4vw;
}
footer
{
    background-color:  rgb(197, 192, 192);
    margin-top: 0;
    padding: 3vw;
}
footer ul
{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: auto;
    width: 55vw;
    margin-bottom:3vw;
    align-items: center;
}
footer a{

    color: black;
    text-decoration: none;
}

@media (max-width:550px)
{
    body{
        background-position: center center;
        
    }
    .awards{
        flex-direction: column;
        height: auto;
    }
    
    header .hamburger .bx-x{
        display: none;
    }
    header .hamburger {
        display: flex;
        align-items: center;
        justify-content:flex-end;
    }
    header .manu {
        display: none;
    }
    header
    {
        flex-wrap: wrap;
    }
    header .right .hamburger{
        flex-basis: 100%;
    }
    header .cart{
        display: none;
    }
    .btn{
        width: 100%;
        box-sizing: border-box;
    }
    header .cart1{
        flex-basis: 100%;
        display: block;
        margin: 10px;
    } 
    .testonomial > div{
       flex-direction:column;
       justify-content: center;
        
    }
    .testonomial >div>div{
        width: fit-content;
    }
 #test1 .info img,#test2 .info img{
        width: 15vw;
        height: 15vw;
    }
    #test1 .info img, #test2 .info img{
        margin-right:10vw;
    }
    #test1,#test2{
        margin-top: 5vh;
     }
     .testonomial+h1{
        font-size:7vw;
     }

}
@media (min-width:551px) and (max-width:630px){
    body{
        background-position: center center;
        
    } 
    .awards{
        flex-direction: column;
        height: auto;
    }
    .cart{
        width:50%;
        margin: 3vw 1vw 3vw 2vw;
    }
    header .manu {
        display: none;
    }
    header .hamburger .bx-x{
        display: none;
    }
    header .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .testonomial{
        padding:5vw;
        /* display: flex; */
        
    
    }
    .testonomial>div{
        flex-direction: column;

     }
     #test1,#test2{
        margin-top: 100vh;
     }
    .testonomial #test1 .info img , .testonomial #test2 .info img{
        margin-left: 5vw;
    };
    #test1 .info img,#test2 .info img{
        width: 15vw;
        height: 15vw;
    }
    .testonomial +h1{
        font-size:7vw;
    }
   
}
@media (min-width: 631px) and (max-width: 1023px) {
    /* CSS rules for screens between 768px and 1024px */
    body{
        background-position: center center;
        
    } 
    
    header .manu {
        display: none;
    }
    header .hamburger .bx-x{
        display: none;
    }
    header .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .testonomial{
        padding:5vw;
        /* display: flex; */
        
    
    }
    .testonomial +h1{
        font-size:7vw;
    }
  }
